! Xft settings -----------------------------------------------------------------
!DPI scales everything
Xft.dpi: 130
Xft.antialias: true
Xft.lcdfilter: lcddefault
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
